apiVersion: apps/v1
kind: Deployment
metadata:
  name: mastodon
  namespace: mstdn-soine-site
  labels:
    app: mastodon
spec:
  selector:
    matchLabels:
      app: mastodon
  replicas: 2
  template:
    metadata:
      labels:
        app: mastodon
    spec:
      containers:
      - name: web
        image: plusminusio/mastodon:4.2.10-plusminus.1
        command: ["bash", "-c", "rm -f /mastodon/tmp/pids/server.pid; bundle exec rails s -p 3000"]
        envFrom:
          - configMapRef:
              name: env
        ports:
        - containerPort: 3000
          name: mastodon
      - name: sidekiq
        image: plusminusio/mastodon:4.2.10-plusminus.1
        command: ["bash", "-c", "bundle exec sidekiq -c 25"]
        envFrom:
          - configMapRef:
              name: env
      - name: streaming
        image: plusminusio/mastodon:4.2.10-plusminus.1
        command: ["bash", "-c", "yarn start"]
        envFrom:
          - configMapRef:
              name: env
        ports:
        - containerPort: 4000
          name: streaming
      - name: nginx
        image: nginx
        ports:
        - containerPort: 80
          name: nginx
        volumeMounts:
        - mountPath: /etc/nginx
          readOnly: true
          name: nginx-conf
      volumes:
      - name: nginx-conf
        configMap: 
          name: nginx-conf
          items:
            - key: nginx.conf
              path: nginx.conf
            - key: virtualhost.conf
              path: virtualhost/virtualhost.conf
      restartPolicy: Always
