apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - pvc.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  - cronjob-mail-receive.yaml
  - job-set-mail-from.yaml
  - secret.yaml
