apiVersion: apps/v1
kind: Deployment
metadata:
  name: www
  labels:
    app: www
spec:
  replicas: 1
  selector:
    matchLabels:
      app: www
  template:
    metadata:
      labels:
        app: www
    spec:
      containers:
        - name: www
          image: nginx:alpine
          ports:
            - containerPort: 80
          volumeMounts:
            - name: nginx-html-volume
              mountPath: /usr/share/nginx/html
            - name: nginx-html-well-known-volume
              mountPath: /usr/share/nginx/html/.well-known
            - name: nginx-config-volume
              mountPath: /etc/nginx/conf.d/default.conf
              subPath: default.conf
      volumes:
        - name: nginx-html-well-known-volume
          configMap:
            name: nginx-html-well-known-config
        - name: nginx-html-volume
          configMap:
            name: nginx-html-config
        - name: nginx-config-volume
          configMap:
            name: nginx-config
