apiVersion: apps/v1
kind: Deployment
metadata:
  name: piping-server
  labels:
    app: piping-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: piping-server
  template:
    metadata:
      labels:
        app: piping-server
    spec:
      containers:
        - name: piping-server
          image: nwtgck/bytenode-piping-server
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              cpu: "0.3"
              memory: "300Mi"
          ports:
            - name: http
              hostPort: 8080
              containerPort: 8080
