apiVersion: apps/v1
kind: Deployment
metadata:
  name: annict-misskey
spec:
  replicas: 1
  selector:
    matchLabels:
      app: annict-misskey
  template:
    metadata:
      labels:
        app: annict-misskey
    spec:
      dnsConfig:
        searches:
          - svc.cluster.local
          - cluster.local
        options:
          - name: single-request-reopen
          - name: use-vc
          - name: ndots
            value: "2"
      containers:
        - name: annict-activity-to-mastodon
          image: ghcr.io/yude/annict-activity-to-mastodon:latest
          imagePullPolicy: Always
          volumeMounts:
            - name: config
              mountPath: /app/config.toml
              subPath: config.toml
      volumes:
        - name: config
          configMap:
            name: annict-misskey-config
